@model CRUDCONTABILIDAD.ENTRADACONTABLE

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ENTRADACONTABLE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPCION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDENTIFICADOR_AUX)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDENTIFICADOR_AUX)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUENTA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUENTA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIPOMOV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIPOMOV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHAASIENTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHAASIENTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MONTOASIENTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MONTOASIENTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ESTADO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESTADO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_ASIENTO }) |
    @Html.ActionLink("Back to List", "Index")
</p>
