@model IEnumerable<CRUDCONTABILIDAD.CUENTASCONT>

@{
    ViewBag.Title = "Cuentas Contables";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cuentas Contables</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DESCRIPCION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PERMITEMOV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TIPO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NIVEL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BALANCE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CUENTA_MAYOR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ESTADO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DESCRIPCION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PERMITEMOV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TIPO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NIVEL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BALANCE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CUENTA_MAYOR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ESTADO)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-success" })
            @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-info" })
            @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
